.box{
   
    width: 6rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    padding: 10px;
    margin-top: 5rem;
   
}
.type{
    
   
  
    width: 5rem;
    height:5rem;
   
}
.pimg{
    width: 6rem;
    height: 7rem;
}
.outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pname{
    margin-top: 35px;
}
.proname{
    text-decoration: none;
    color: black;
}
.outer{
    border-bottom: 1px solid aqua;
    box-shadow:  2px blueviolet;
}